	<% extend('layout/main.ejs') %>

	<div class="col-sm-6 col-sm-offset-3">

		<form action="/upload" method="POST" role="form" enctype="multipart/form-data">
			<legend>UPLOAD FILE</legend>

<!-- 			<div class="form-group">
				<label for="avatar"></label>
				<input type="file" id="fileUpload" name="avatar" class="form-control" required="required" >
				<input id="upload-input" type="file" name="uploads[]" class="form-control"  multiple="multiple">
			</div> -->

			 <input type="text" name="content">
			 <select class="custom-select" name="cate">
			  <option selected>Open this select menu</option>
			  <option value="1">One</option>
			  <option value="2">Two</option>
			  <option value="3">Three</option>
			</select>
			<select class="custom-select" name="detail">
			 <option selected>Open this select menu</option>
			 <option value="1">One</option>
			 <option value="2">Two</option>
			 <option value="3">Three</option>
		   </select>
		  <!-- <input type="submit" value="uploading_img"> -->


			<button type="submit" value="upload" class="btn btn-primary">Submit</button>
		</form>


	    <div class="well">
            <h3 class="text-primary"><span class="fa"></span>Image Info</h3>

            <p>
                <strong>id</strong>:<br>
                <strong>File name</strong>:<br>
                <strong>File path</strong>:<br>
                <strong></strong><br>
            </p>

        </div>
	</div>
