
<% extend('layout/main.ejs') %>

<div class="jumbotron">
<!-- 	<h1>Hello</h1>
	<h1>Page extend from main.ejs</h1> -->
	<div class="row">
		

		<div class="col-sm-4 col-xs-6">

			<img src="https://drive.google.com/uc?export=view&id=1THyT7n29uND75pExxr4YJAisZdpBnNzj" alt="" width="100%">
		
		</div>
		
		<div class="col-sm-8 col-xs-6">
			
<!-- 			<video controls preload="none" height="500" width="100%" poster="/upload/image">
			    <source src="https://drive.google.com/file/d/11qL9HT_X-QVXiD0bXbVF2aJ-e7w0wQZS/preview" type="video">
			</video> -->
			<iframe width="500px" height="100%" src="https://drive.google.com/file/d/11qL9HT_X-QVXiD0bXbVF2aJ-e7w0wQZS/preview"></iframe>
				
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-12"></div>
	</div>

</div>
 

