<!-- views/login.ejs -->
<% extend('layout/main') %>

<div class="col-sm-6 offset-sm-3">

	<!-- show any messages that come back with authentication -->

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<form action="/auth/login" method="post">
		<fieldset class="form-group">
			<label for="username">Tên đăng nhập</label>
			<input type="text" class="form-control" name="username" placeholder="Email or username">
		</fieldset>
		<fieldset class="form-group">
			<label for="password">Mật khẩu</label>
			<input type="text" class="form-control" name="password" placeholder="Password">
		</fieldset>

		<button type="submit" class="btn btn-primary">Đăng nhập</button>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
		<a href="/auth/signup" class="btn btn-warning" role="button">Đăng ký</a>

	</form>


</div>

</div>

