<!-- views/signup.ejs -->
<% extend('layout/main') %>

<div class="col-sm-6 offset-sm-3">

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/auth/signup" method="post">
		<fieldset class="form-group">
			<label for="username">Tên đăng nhập</label>
			<input type="text" class="form-control" name="username" placeholder="Email or username">
		</fieldset>
		<fieldset class="form-group">
			<label for="password">Mật khẩu</label>
			<input type="text" class="form-control" name="password" placeholder="Password">
		</fieldset>

		<button type="submit" class="btn btn-success">Đăng ký</button>
	</form>

	<hr>

	<p>Bạn đã có tài khoản ? <a href="/auth/login">Đăng nhập</a></p>

</div>
