/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

/*a {
  color: #00B7FF;
}*/
.noPadding {
  padding-right: 0;
  padding-left: 0;
}

.mainColor {
    background-color: #528e5c;
}

.navbar {

	font-weight: 600;
	font-size: 20px;
	/*height: 100px;*/
}

.mainColor, .navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.mainContent {
  margin-top: 180px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
    font-family: 'Roboto', sans-serif;
    word-wrap:break-word; 
}

.search-text{
	margin-top:50px;
	background-color: #272d33;
	padding-top:60px;
	padding-bottom:60px;
}
	
.search-text .input-search{
	height:45px;
	width:40%;
	padding-left:20px;
    color:#333;
} 

.search-text .btn-search{
    background: #da3e44;
    font-family:Roboto;
    border:none;
	color:#FFF;
	height: 45px;
    width: 80px;
}

.search-text h4{
    color: #FFF;
    font-weight: 700;
}

footer{
     background-color: #33383c;
     padding:30px 0px;
}	       

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}


/* --------------LOGIN AND SIGNUP FORM----------------- */

.form-body{
    background:#fff;
    padding:20px;
}
.login-form{
    background:rgba(255,255,255,0.8);
  padding:20px;
  border-top:3px solid#3e4043;
}
.innter-form{
  padding-top:20px;
}
.final-login li{
  width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li{
  color:#222 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #d14d42;
    border: none !important;
    border-bottom-color: transparent;
  border-radius:none !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
  text-transform:uppercase;
  font-size:16px;
}

.social-login{
  text-align:center;
  font-size:12px;
}
.social-login p{
  margin:15px 0;
}
.social-login ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.social-login ul li{
  width:33%;
  float:left;
    clear:fix;
}
.social-login ul li a{
  font-size:13px;
  color:#fff;
  text-decoration:none;
  padding:10px 0;
  display:block;
}
.social-login ul li:nth-child(1) a{
  background:#3b5998;
}
.social-login ul li:nth-child(2) a{
  background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
  background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
  padding:10px;
  border:1px solid#ccc;
  outline:none;
  width:100%;
  margin:8px 0;
  
}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
  background:#e64b3b;
  color:#fff;
  padding:10px 25px;
  font-size:14px;
  margin-top:5px;
  }
  .sa-innate-form input[type=submit]:hover{
  border:1px solid#db3b2b;
  background:#db3b2b;
  color:#fff;
  }
  
  .sa-innate-form button{
  border:1px solid#e64b3b;
  background:#e64b3b;
  color:#fff;
  padding:10px 25px;
  font-size:14px;
  margin-top:5px;
  }
  .sa-innate-form button:hover{
  border:1px solid#db3b2b;
  background:#db3b2b;
  color:#fff;
  }
    .sa-innate-form p{
        font-size:13px;
        padding-top:10px;
    }