<!doctype html>
<html>
	<head>
		<title>Node Authentication</title>
		<script type="text/javascript" src="/javascripts/react.production.min.js"></script>
		<script type="text/javascript" src="/javascripts/react-dom.production.min.js"></script>
		<script src="/javascripts/browser.min.js"></script>


	</head>

	<body>

	<div class="container">

		<div class="row row-offcanvas row-offcanvas-right">

	            <div class="col-xs-12 col-sm-12">

	            	<div class="mainContent">
	            		 
	            	</div>

	            </div>

	        </div>
	</div>
	<div id="food"></div>
	<div id="root"></div>
	<script type="text/babel" src="/components/Food.jsx"></script>
	<script type="text/babel">
		ReactDOM.render(
  <h1>Hello, world!</h1>,
  document.getElementById('root')
);
	</script>

	</body>
</html>